@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
.react-images__view.react-images__view--isModal.css-1qrom1v.css-1ycyyax{
  display: flex;
  justify-content: center;
}
